NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SUPABASE_URL=https://zkoxbykmhtyfkeztkwhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inprb3hieWttaHR5ZmtlenRrd2hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMDAwODQsImV4cCI6MjA5MTU3NjA4NH0.2KKare6lU6aY1CaYbNZaK-WNhS9Dcy_Uou4ZSg1LQL4
